.links{
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content: flex-start;
}

.menu{
    margin-left: 20px;
}

.links a{
    margin-left: 20px;
}

.head1{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header{
    background-color: black;
    color: white;
}

.body{
    background-color: #C8C8C8;
    margin: 0px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: 5px;
    justify-content: space-evenly;
    
    
    
}
.grid img{
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
    justify-content: space-evenly;
    
}
.origami {
    
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin: 15px;
    width:310px;
    font-family: fantasy;
   
    
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;

}

.origami:hover{
    transform: scale(1.3);
}

.origami img{
    display: flex;
    text-justify: center;
}

h5{
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translate(-65%,-35%);
    opacity: 0;
}

.origami img{
    position: relative;
}

.origami:hover h5{
    opacity: 1;
    font-size: larger;
}

.origami:hover img{
    opacity: 0.33;
}

.origami img{
    left: 15%;
}